body {
    margin: 20px;
    font-family: "Palatino Linotype", "Times New Roman", serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    /* 
    Challenge:
    Replace the two margin properties with a 
    single margin shorthand.
    */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #9a031e;
    color: #ffd60a;
    border-bottom: 6px solid #000814;
}

.border-blue {
    border: 1px dotted blue;
}